server:
  port: 8090
spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  redis:
    host: 127.0.0.1
  rabbitmq:
    host: 172.16.116.100
    virtual-host: /fengge
    username: fengge
    password: fengge
auth:
  jwt:
    publicKeyPath: D:\\develop\\git_code\\temp\\rsa.pub
    cookieName: GMALL_TOKEN
    userKeyName: USER_KEY
    expire: 2592000
